@import url(/common.css);

/* tab */

/* title */

.title {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 138px;

  .inner {
    width: 100%;
    height: 100%;
    .cart_container {
      width: 100%;
      height: 100%;
      border: 1px solid #f00;
      gap: 29px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      .cart_text {
        font-size: 30px;
      }
      .icon {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 45px;
        margin-bottom: 5px;
        .icon_arrow {
          font-size: 24px;
          color: var(--main-btn-green);
        }
        .cart_icon {
          width: 110px;
          height: 110px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 6px;
          font-size: 40px;
          border-radius: 100%;
          background: var(--main-btn-green);
          color: var(--white);
          i {
            font-size: 48px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* tab */
.tabs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  padding-bottom: 60px;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 650px; */
    height: 72px;
    font-size: 26px;
    padding: 10px 30px;
    background: var(--main-btn-green);
    color: var(--white);
    &.active {
      background: var(--main-black);
      color: var(--white);
    }
  }
}

.list_text {
  font-size: 20px;
  font-weight: 500;
}
input {
  display: none;
}
label {
  display: none;
}

.contents {
  width: 100%;
  height: fit-content;
  position: relative;
  .content1,
  .content2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    &.active {
      /* background: #bbb; */
      display: block;
    }
  }
}
/* main content */
.content {
  display: flex;
  justify-content: center;
  gap: 45px;
  .list_container {
    position: relative;
    display: flex;
    justify-content: center;
    /* padding-left: 410px; */
    padding-top: 30px;
    gap: 45px;
  }
  /* list */
  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .inner {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      .list_box {
        display: flex;
        /* width: 985px; */
        height: 240px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
      }
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 240px;
        background: #999;
      }
      input[type="checkbox"] {
        position: relative;

        display: none;
      }
      input:checked ~ label {
        background: var(--main-btn-green);
        color: var(--white);
        .fa-check {
          display: inline;
        }
      }
      label {
        position: relative;
        bottom: 100px;
        right: 35px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: none;
        background: var(--white);
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        .fa-check {
          display: none;
          font-size: 20px;
        }
      }
      .text {
        width: 200px;
        height: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        .text_box {
          width: 240px;
          height: 95px;
          gap: 5px;
          p {
            font-size: 20px;
            font-weight: 500;
          }
          .text_inner {
            width: 260px;
            height: 26px;
            display: flex;
            gap: 10px;
          }
          span {
            width: 80px;
            height: 26px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            background: var(--main-coral);
            border-radius: 20px;
            color: #fff;
          }
        }
      }
    }
    .money {
      width: 130px;
      height: 115px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .money_icon {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 24px;
        color: #999;
      }
      .money_box {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 400;
      }
      .money_listbox {
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 28px;
        border: 1px solid #999;
      }
    }
  }
}

/* pay page */
.pay_page {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 80px;
  margin-top: 30px;
  .inner {
    .pay_first_text {
      width: 270px;
      height: 100px;
      display: flex;
      border: 1px solid #efefef;
      .frist_box {
        width: 270px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-size: 20px;
          font-weight: 500;
        }
        .box {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          span:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            font-size: 14px;
            color: var(--white);
            border: 1px solid #fff;
            border-radius: 16px;
            background: #cfd31a;
          }
          span:nth-child(2) {
            font-size: 20px;
            color: #cfd31a;
            font-weight: 700;
          }
          span:nth-child(3) {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
    .pay_second_txt {
      width: 270px;
      height: 262px;
      border-right: 1px solid #efefef;
      border-left: 1px solid #efefef;
      .one_box {
        width: 270px;
        height: 30px;
        display: flex;
        .text_box {
          display: flex;
          margin-left: 16px;
          font-size: 20px;
          font-weight: 500;
          p:nth-child(1) {
            padding-right: 4px;
            padding-top: 30px;
          }
        }
        p:nth-child(2) {
          padding-right: 4px;
          color: #cfd31a;
          padding-top: 30px;
        }
        p:nth-child(3) {
          margin-left: -4px;
          padding-top: 30px;
        }
      }
    }
    .two_box {
      width: 270px;
      height: 138px;
      .pay_number_box {
        width: 100%;
        height: 100%;
        .pay_box {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 500;
          gap: 30px;
          .pay_one {
            margin-top: 60px;
            display: flex;
            gap: 126px;
            margin-left: 16px;
          }
          .pay_two {
            display: flex;
            gap: 126px;
            margin-left: 32px;
          }
          .pay_three {
            display: flex;
            gap: 126px;
            margin-left: 32px;
          }
        }
      }
    }
    .pay_thrid_text {
      width: 100%;
      height: 100%;
      padding-bottom: 10px;

      .thrid_text_box {
        width: 270px;
        height: 80px;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid #efefef;
        gap: 83px;

        p:nth-child(1) {
          padding-top: 28px;
          margin-left: 16px;
        }
        p:nth-child(2) {
          padding-top: 28px;
          color: var(--main-price-red);
        }
      }
    }
    .pay_click_box {
      button {
        width: 270px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-btn-green);
        color: var(--white);
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
/* mobolie */

/* bottom btn */
.btn {
  margin-top: 1316px;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    input {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      width: 140px;
      height: 40px;
      color: var(--white);
      background: var(--main-btn-green);
      border: 1px solid #fff;
      cursor: pointer;
    }
  }
}

/* introduction list */
.introduction {
  padding-top: 80px;
  .inner {
    .introduction_text {
      width: 100%;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
      p {
        font-size: 40px;
        font-weight: 500;
      }
    }
    .introduction_contents {
      /* width: 1300px; */
      height: 140px;
      display: flex;
      flex-direction: column;
      .introduction_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 30px;
      }
      .introduction_box {
        width: 357px;
        height: 140px;
        display: flex;
        gap: 22px;
        .introduction_img {
          display: flex;
          width: 140px;
          height: 140px;
          background: #999;
          justify-content: center;
          align-items: center;
        }
        .text_container {
          width: 195px;
          height: 140px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .text_box {
            display: flex;
            width: 195px;
            height: 82px;
            font-size: 18px;
            font-weight: 500;
          }
          .introduction_pay {
            display: flex;
            font-size: 16px;
            gap: 8px;
            p:nth-child(1) {
              text-decoration: line-through;
              color: #999;
              font-weight: 500;
            }
            p:nth-child(2) {
              color: var(--main-price-red);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .title {
    display: none;
  }
  .tabs {
    gap: 0;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    li {
      width: 180px;
      height: 60px;
      font-size: 18px;
    }
  }

  .list_text {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .list_text p {
    display: none;
  }
  .list_text::before {
    display: inline-block;
    content: "전체|배송방법 변경 > 전체삭제";
    font-size: 20px;
  }
  .list_text label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: var(--white);
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
    .fa-check {
      font-size: 20px;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input:checked ~ label {
    background: var(--main-btn-green);
    color: var(--white);
    border: 1px solid #fff;
    .fa-check {
      display: inline-block;
      font-size: 20px;
    }
  }
  .check_box {
    width: 100%;
    height: 60px;
    background: #f2fbdf;
    display: flex;
    input {
      display: inline-block;
      .fa-check {
        display: inline-block;
        font-size: 20px;
      }
    }
    p {
      display: inline-block;
      margin-top: 18px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .contents {
    width: 360px;
    height: 100%;
    .content1,
    .content2 {
      width: 100%;
    }
  }
  .content {
    .list_container {
      width: 320px;
      display: flex;
    }
    .list {
      padding-bottom: -100px;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      display: flex;
      text-align: center;
      .inner {
        width: 100%;
        height: 100%;
        .list_box {
          border-top: none;
          border-bottom: 1px solid #efefef;
          display: flex;
          margin-right: 40px;
          width: 320px;
          height: 134px;
          display: flex;
        }
        .image {
          width: 80px;
          height: 80px;
        }
        .text {
          width: 320px;
          height: 122px;
          display: flex;
          flex-direction: column;
          .text_box {
            width: 320px;
            display: flex;
            flex-direction: column;
            width: 210px;
            height: 80px;
            margin-right: 178px;
            p {
              display: flex;
              gap: 10px;
              padding: 0 15px;
              font-size: 12px;
            }
            .text_inner {
              width: 210px;
              height: 50px;
            }
            span {
              font-size: 8px;
              width: 40px;
              height: 10px;
            }
          }
        }
      }
      .money {
        position: relative;
        width: 322px;
        height: 30px;
        display: flex;
        margin-right: 232px;
        flex-direction: row-reverse;
        .money_icon {
          position: absolute;
          top: -66px;
          right: 15px;
          width: 10px;
          height: 10px;
          font-size: 10px;
        }
        .money_box {
          display: flex;
          width: 80px;
          height: 30px;
          font-size: 16px;
          margin-right: 0px;
          justify-content: center;
          align-items: center;
        }
        .money_listbox {
          width: 80px;
          height: 30px;
          font-size: 16px;
        }
      }
    }
    .mobile_pay_inner {
      width: 360px;
      height: 500px;
      position: absolute;
      top: 765px;
      right: 20px;
      display: flex;
      .moblie_pay {
        width: 360px;
        height: 165px;
        right: 40px;
        padding-bottom: 40px;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        border-top: 1px solid #efefef;
        align-content: center;
        .moblie_pay_text {
          width: 320px;
          height: 20px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          margin-top: 24px;
          margin-left: 20px;
        }
        .moblie_pay_text_two {
          width: 320px;
          height: 20px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          margin-left: 20px;
        }
        .moblie_pay_text_three {
          width: 320px;
          height: 20px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          margin-left: 20px;
        }
        .moblie_pay_text_four {
          width: 320px;
          height: 20px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          margin-left: 20px;
          p:nth-child(1) {
            font-weight: bold;
          }
          p:nth-child(2) {
            font-weight: bold;
          }
        }
        .warning {
          border-bottom: 3px solid #efefef;
          width: 320px;
          height: 30px;
          position: absolute;
          justify-content: center;
          align-items: center;
          top: 144px;
          right: 20px;
          .warning_inner {
            width: 320px;
            height: 34px;
            display: flex;
            align-items: center;
            .warning_icon {
              color: #999;
              padding-right: 10px;
            }
            .warning_text {
              font-size: 10px;
              color: #999;
            }
          }
        }
      }
    }
  }
  .pay_page {
    display: none;
  }
  .introduction {
    width: 100%;
    height: 236px;
    position: relative;
    top: 964px;
    right: 20px;
    border: 1px solid #f00;
    .inner {
      .introduction_text {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 320px;
        height: 30px;
        p {
          font-size: 16px;
        }
      }
    }
  }
}
