
@import url(/common.css);


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin-top: 50px;
}
.container {
    text-align: center;

}

.inner h3 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
}

.inner h4 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 17px;
    padding-bottom: 54px;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.buttonHome {
    width: 180px;
    height: 70px;
    padding: 22px 30px;
    font-size: 16px;
    border: 1px solid #9AC75B;
    color: #9AC75B;
    cursor: pointer;
}

.buttonLogin {
    width: 180px;
    height: 70px;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #9AC75B;
    color: white;
    border: none;
    cursor: pointer;
}
    @media screen and (max-width: 1080px) {

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px ;
    margin-bottom: 80px;
}
.container {
    text-align: center;
}

.inner h3 {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
}

.inner h4 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 17px;
    padding-bottom: 40px;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.buttonHome {
    width: 160px;
    height: 70px;
    padding: 22px 30px;
    font-size: 16px;
    border: 1px solid #9AC75B;
    color: #9AC75B;
    cursor: pointer;

}

.buttonLogin {
    width: 160px;
    height: 70px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #9AC75B;
    color: white;
    border: none;
    cursor: pointer;
    }
}