@import url(/common.css);
  .login-text {
    color: #333;
    text-align: center;
    h2 {
        margin-top: 200px;      /* 추후조정 */
        margin-bottom: 14px;
        font-size: 36px;
        font-weight: 700;
        line-height: 144%;
        letter-spacing: -0.07px;
        /* border: 1px solid #f00; */
    }
    span {        
        font-size: 20px;
        font-weight: 500;
        line-height: 144%;
        margin-top: 14px;
        /* border: 1px solid #f00; */
    }
}


  .tabs {
    margin-top: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .tab {
      input[type="radio"] {
        display: none;
      }
      label {
        position: relative;
        cursor: pointer;
        display: block;
        text-align: center;
        align-items: center;
        padding: 16px 34px;
        width: 390px;
        height: 90px;
        line-height: 54px;
        color: #aaa;
        font-size:20px;
        border: 1px solid #EFEFEF;

      }
      input[type="radio"]:checked ~ label {
        background: #9AC75B;
        border: solid #9BCE26;
        span{
        line-height: 50px;
        color: #fff;
        font-size:20px;
        }
      }
      .content {
        /* 탭 컨텐츠 */
        display: none;
        width: 100%;
        align-items:center;
        justify-content: center;
        position: absolute;
        background: white;
        top: 90px;
        left: 0;
        right: 0;
        padding: 0;
        box-sizing: border-box;

      }
      .member-id{
        width: 780px;
        height: 90px;
        margin: 0 auto;
        border: 1px solid  #9BCE26;
        padding: 30px;
        align-items: center;
        #input-id {
            border: none;
            outline: none;
            width: 100%;
            color: #aaa;
            font-size: 18px;
        }
    }
    .member-pw{
        width: 780px;
        height: 90px;
        margin: 0 auto;
        border: 1px solid  #9BCE26;
        border-top: none;
        padding: 30px;
        #input-pw {
            border: none;
            outline: none;
            width: 100%;
            color: #aaa;
            font-size: 18px;
        }
    }
      input[type="radio"]:checked + label + .content {

        display: block;
        height: 1000px;
        text-align: center;
      }
    }
  }

  .check-find {
    display: flex;
    width: 780px;
    height: 90px;
    line-height: 144%;
    padding: 32px 0 ;
    justify-content: space-between;
    margin: 0 auto;
    .id-checkbox {
        align-items: center;
        gap: 8px;
        color: #aaa;
        /* border: 1px solid #f00; */
    }
    .find {
        span{
            gap: 36px;
            color: #aaa;
        }
    }
}

.btn {
  .login-btn {
      display: flex;
      width: 780px;
      height: 90px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background: #9BCE26;
      &:hover{
      cursor: pointer;
      }
      button {
      color: #fff;
      font-size: 26px;
      }
  }
  .sign-btn {
      display: inline-flex;
      align-items: center;
      gap: 30px;
      padding: 32px 0;
      .cjone-btn {            
      border: 1px solid #EFEFEF; 
      button {
          display: flex;
          width: 374px;
          height: 90px;
          padding: 16px 34px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          color: #333;
          font-size: 20px;
          }
      }
  }
  .kakao-btn {           
          border: 1px solid #EFEFEF; 
          button {
              display: flex;
              width: 374px;
              height: 90px;
              padding: 16px 34px;
              justify-content: center;
              align-items: center;
              gap: 12px;
              color: #333;
              font-size: 20px;
              background: #F9E003;
              ;
              }
          }
      } 


      .noBtn {
        display: flex;
        flex-direction: column;
        width: 780px;
        height: 90px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: 32px auto;
        background: #9BCE26;
        border: 1px solid #f00;
        button {
          color: #fff;
          font-size: 26px;
        }
      }



      /* footer */
      