@import url(/common.css);

main {
    height: 400px ;
    margin-bottom: 300px;
}

    .loginText {
        text-align: center;
        color: #333;
    }

    h2 {
        margin-top: 240px; 
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -0.07px;
        padding: 0 0 14px;
    }
    span {
        margin-top: 20px;        
        font-weight: 500;
    }

    
    /* tab */
    .tabs {
    height: 90px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .tab1 {
        border: 1px solid #eee;
        padding: 10px 30px;
        width: 390px;
        text-align: center;
        line-height: 64px;
        font-size: 18px;
        &.active {
        background: #9AC75B;
        border: 1px solid #9AC75B;
        color: #fff;
    }
    }
    .tab2 {
        border: 1px solid #eee;
        border-left: none;
        width: 390px;
        padding: 10px 30px;
        text-align: center;
        line-height: 64px;
        font-size: 18px;
        &.active {
        width: 390px;
        background: #9AC75B;
        border: 1px solid #9AC75B;
        color: #fff;
        }
    }
}

    /* content */
    .contents {
    width: 100%;
    height: 100vh;
    position: relative;
    .content1 {   
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        display: none;
        &.active {
        display: block;
        }
        .memberId {
            width: 780px;
            height: 90px;
            margin: 0 auto;
            border: 1px solid  #9BCE26;
            padding: 30px;
            align-items: center;
            #inputId {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 18px;
            }
        }
        .memberPw {
            width: 780px;
            height: 90px;
            margin: 0 auto;
            margin-bottom: 32px;
            border: 1px solid  #9BCE26;
            border-top: none;
            padding: 30px;
            align-items: center;
            #inputPw {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 18px;
            }
        }

            .loginBtn01 {
                display: flex;
                width: 780px;
                height: 90px;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                background: #9AC75B;
                &:hover{
                    cursor: pointer;
                    }
                    button {
                        color: #fff;
                        font-size: 26px;
                        }
            }
        }

    .content2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        display: none;
        &.active {
        display: block;
        }
        .memberId {
            width: 780px;
            height: 90px;
            margin: 0 auto;
            border: 1px solid  #9BCE26;
            padding: 30px;
            align-items: center;
            #inputId {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 18px;
            }
        }
        .memberPw {
            width: 780px;
            height: 90px;
            margin: 0 auto;
            border: 1px solid  #9BCE26;
            border-top: none;
            padding: 30px;
            align-items: center;
            #inputPw {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 18px;
            }
        }
        .orderbtn {
            display: flex;
            width: 780px;
            height: 90px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 32px;
            padding: 10px;
            background: #9AC75B;
                button {
                    color: #fff;
                    font-size: 26px;
                    &:hover{
                        cursor: pointer;
                        }
                    }
            }
    }
}


    /* mobile */
    @media screen and (max-width: 1080px) {
    .tabs {
        height: 80px;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .tab1 {
            border: 1px solid #eee;
            padding: 10px;
            width: 100%;
            text-align: center;
            line-height: 60px;
            font-size: 16px;
            &.active {
            background: #9AC75B;
            border: 1px solid #9AC75B;
            color: #fff;
            }
        }
        .tab2 {
            border: 1px solid #eee;
            border-left: none;
            width: 100%;
            padding: 10px;
            text-align: center;
            line-height: 60px;
            font-size: 16px;
            &.active {
            width: 100%;
            background: #9AC75B;
            border: 1px solid #9AC75B;
            color: #fff;
            }
        }
    }

    /* mobile content */
    .contents {
            width: 100%;
            height: 100vh;
            position: relative;
            .content1 {   
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                display: none;
                &.active {
                display: block;
                }
                .memberId {
                    width: 100%;
                    height: 80px;
                    margin: 0 auto;
                    border: 1px solid  #9BCE26;
                    padding: 28px;
                    align-items: center;
                    #inputId {
                        border: none;
                        outline: none;
                        width: 100%;
                        color: #aaa;
                        font-size: 16px;
                    }
                }
                .memberPw {
                    width: 100%;
                    height: 80px;
                    margin: 0 auto;
                    margin-bottom: 32px;
                    border: 1px solid  #9BCE26;
                    border-top: none;
                    padding: 28px;
                    align-items: center;
                    #inputPw {
                        border: none;
                        outline: none;
                        width: 100%;
                        color: #aaa;
                        font-size: 16px;
                    }
                }
                    .loginBtn01 {
                        display: flex;
                        width: 100%;
                        height: 80px;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        padding: 10px;
                        background: #9AC75B;
                        &:hover{
                            cursor: pointer;
                            }
                            button {
                                color: #fff;
                                font-size: 22px;
                                }
                    }
                    .signBtn {
                        width: 100%;
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;
                        padding: 32px 0;
                        .cjoneBtn {  
                        border: 1px solid #EFEFEF; 
                        width: 100%;
                        button {
                            display: flex;
                            width: 100%; 
                            height: 80px;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            color: #333;
                            font-size: 20px;
                            &:hover{
                                cursor: pointer;
                                }
                            }
                        }
                    }         
                }
        
    
    .content2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        display: none;
        &.active {
        display: block;
        }
        .memberId {
            width: 100%;
            height: 80px;
            margin: 0 auto;
            border: 1px solid  #9BCE26;
            padding: 28px;
            align-items: center;
            #inputId {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 16px;
            }
        }
        .memberPw {
            width: 100%;
            height: 80px;
            margin: 0 auto;
            margin-bottom: 32px;
            border: 1px solid  #9BCE26;
            border-top: none;
            padding: 28px;
            align-items: center;
            #inputPw {
                border: none;
                outline: none;
                width: 100%;
                color: #aaa;
                font-size: 16px;
            }
        }
        .orderbtn {
            display: flex;
            width: 100%;
            height: 80px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 30px;
            padding: 10px;
            background: #9AC75B;
                button {
                    color: #fff;
                    font-size: 22px;
                    &:hover{
                        cursor: pointer;
                        }
                    }
            }
            .joinbtn {
            display: flex;
            width: 100%;
            height: 90px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 30px;
            padding: 10px;
            border: 1px solid #9AC75B;
                button {
                    color: #9AC75B;
                    font-size: 22px;
                    &:hover{
                        cursor: pointer;
                }
            }
        }
    }
    }
}
