/* reset */
@import url(/common.css);

    .wrapper {
        margin: 0 auto;
        width: 90%;
        max-width: 980px;
        margin-top: 240px;
        margin-bottom: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
h3 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
}

h4 {
    padding-bottom: 10px;
    font-size: 18px;
    font-style: normal;
    color: #333;
    line-height: 17px;
    text-align: right;
    span {
        color: #FF7878;
        margin: 0 6px;
    }
}

.user_id, .pw01, .pw02, 
.user_name, .user_email, 
.user_phone, .user_address {
    display: flex;
    position: relative;  
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.error {
    color: #f00;
    font-size: 12px;
    position: absolute;
    left: 220px;
    top: 90%;
    width: 596px;
}

label {
    display: block;
    width: 160px;
    height: 80px;
    padding-top: 12px;
    margin: 22px;
    line-height: 52px;
    flex-shrink: 0;
    font-size: 20px;
    color: #333;
    span {
        color: #FF7878;
    }
}

.inputbox {
    width: 596px;
    height: 80px;
    padding: 30px 30px;
    border: 1px solid #eee;
    flex-shrink: 0;
}

.inputbox::placeholder {
    font-size: 16px;
    color: #aaa;
    opacity: 1;
    transition: opacity 0.3s;
}

.check_wrapper, .token_wrapper, .address_wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
}

.check_wrapper > button, .token_wrapper > button, 
.address_wrapper > button {
    height: 80px; 
    text-align: center;
    width: 187px;
    gap: 32px;
    background: #fff;
    font-size: 18px;
    color: #9AC75B;
    border: 1px solid #9AC75B;
    &:hover{
        cursor: pointer;
        }
}


.address_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address_wrapper > button {
    width: 596px;
    margin-top: 20px;
    span {
        margin: 0 10px;
    }
}


.useCheck_wrapper {
    display: flex;    
    
}

.user_checkbox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.useCheck_section {
    display: flex;
    width: 596px;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    span {
        width: 100%;
        margin-left: -70px;
        &:hover{
            cursor: pointer;
            }
    }       
}
.agreeAll, .agreeCheck, .agree {
    width: 100%;
    flex-grow: 1;
}
.snsBox {
    width: 180px;
    flex-grow: 1;
}
.emailBox {
    width: 180px;
    flex-grow: 1;
}


.user_signup {
display: flex;
justify-content: center;
text-align: center;
#signup_button {
    margin: 40px;
    height: 80px; 
    text-align: center;
    width: 596px;
    gap: 32px;
    background:#9AC75B;
    color: #ffff;
    border: 1px solid #9AC75B;
    font-size: 18px;
    &:hover{
        cursor: pointer;
            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 12px;
        max-height: 60vh;
        overflow-y: auto;
        transform: translate(-50%, -50%); 
        background-color: #fff;
        padding: 20px;
        width: 400px;
        color: #333 ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    /* scroll */
    .modal-content::-webkit-scrollbar {
        width: 8px;
    }
    
    .modal-content::-webkit-scrollbar-thumb {
        background-color: #9AC75B;
        border-radius: 5px;
    }
    
    .modal-content::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    
    /* Close Button */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    
    /* Confirm Button */
    #confirmButton {
        display: block;
        border: 1px solid #f00;
        margin: 20px auto 0;
        padding: 10px 20px;
        color: #9AC75B;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* mobile */
    @media screen and (max-width: 1080px) {
        
        body {
            width: 100%;
            padding: 0;
            margin: 0;

        .inner {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
        }
        .wrapper {
            width: 100%;
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 
    
    h3 {
        margin-bottom: 50px;
        font-size: 28px;
        line-height: 35px;
        font-weight: 500;
        text-align: center;
        letter-spacing: -1px;
    }
    
    h4 {
        width: 100%;
        padding-bottom: 10px;
        font-size: 14px;
        color: #333;
        line-height: 17px;
        text-align: right;
        span {
            color: #FF7878;
        }
    }
    
    .user_id, .user_name, 
    .user_email, .user_phone, 
    .user_address, .user_pw {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10%;
    }

    .error {
        color: #f00;
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        left: 10px;
        gap: 5px;
        top: 100%;
        width: 100%;
    }
    .pw01, .pw02 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    label {
        width: 100%;
        font-size: 18px;
        color: #333;
        margin-bottom: 8px;
        span {
            color: #FF7878;
        }
    }

    
    .inputbox {
        width: 100%;
        height: 80px;
        padding: 30px;
        border: 1px solid #eee;
        font-size: 14px;
    }
    
    .inputbox::placeholder {
        font-size: 14px;
        color: #aaa;
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    .check_wrapper, .token_wrapper, .address_wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .useCheck {
        margin-left: 1px;
    }
    
    .check_wrapper > button, 
    .token_wrapper > button, 
    .address_wrapper > button {
        height: 80px; 
        text-align: center;
        width: 100%;
        background: #fff;
        font-size: 14px;
        color: #9AC75B;
        border: 1px solid #9AC75B;
    }
    
    
    .address_wrapper > button {
        width: 100%;
        span {
            margin: 0 10px;
        }
    }
    
    .useCheck_wrapper {
        display: flex;
        flex-direction: column; 
        width: 100%;
    }
    
    .user_checkbox {
        width: 100%;
        margin-top: 30px;
    }

    .useCheck_section {
        display: flex;
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        height: 40px;
        align-items: center; 
        justify-content: space-between;
        span {
            width: 100%;
        }       
    }
    .agreeAll, .agreeCheck, .agree {
        margin-bottom: 36px;
        font-size: 16px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        }

        .snsBox {
            width: 154px;
            flex-grow: 1;
            margin-bottom: 26px;
            font-size: 16px;
        }
    
        .emailBox {
            width: 200px;
            flex-grow: 1;
            margin-bottom: 26px;
            font-size: 16px;
        }
        

    .user_signup {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    #signup_button {
        width: 100%;
        margin: 40px 0;
        height: 80px; 
        text-align: center;
        background:#9AC75B;
        color: #fff;
        border: 1px solid #9AC75B;
        font-size: 16px;
                }
            }
        }
    }


