@import url(../common.css);

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.section-all {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.product-detail-A {
  margin-top: 60px;
  /* border: 1px solid #f00; */
  width: 1080px;
  height: 716px;
  display: flex;
  .A-left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    .thumbs {
      width: 360px;
      height: 360px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card-gift {
      margin-top: 40px;
      padding-bottom: 12px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      ul {
        li {
          padding: 2px 0;
          font-size: 12px;
          span {
            font-weight: bold;
          }
          i {
            padding-left: 5px;
            color: #585858;
            font-weight: bold;
          }
        }
      }
    }
  }
  .A-right {
    .title {
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 400;
        /* border: 1px solid #f00; */
      }
    }
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 16px;
      .detail-left {
        display: flex;
        align-items: end;
        gap: 10px;
        font-size: 24px;
        .discount {
          font-size: 16px;
          color: #f00;
        }
        .default-price {
          font-size: 14px;
        }
      }
      .detail-right {
        font-size: 12px;
        display: flex;
        justify-content: end;
        gap: 14px;
        .stars {
          color: var(--main-btn-green);
        }
        .score {
          font-weight: bold;
        }
        .review {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
    .desc {
      .reviewdesc {
        font-size: 14px;
      }
      .more-read {
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
      }
      hr {
        margin-top: 24px;
        margin-bottom: 24px;
        opacity: 0.2;
      }
    }
    .benefits {
      display: flex;
      /* border: 1px solid #f00; */
      justify-content: space-between;
      .benefit {
        font-size: 14px;
        /* border: 1px solid #ff0; */
      }
      .benefits-right {
        display: flex;
        .benefit-img {
          /* border: 1px solid #f00; */
          width: 50px;
          height: 72px;
          margin-right: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .box {
          /* border: 1px solid #f00; */
          display: flex;
          flex-direction: column;
          .benefit-desc {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.6px;
            width: 386px;
            /* border: 1px solid #f00; */
          }
          .date {
            font-size: 12px;
          }
          .sample {
            font-size: 10px;
          }
        }
      }
    }
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
      opacity: 0.2;
    }
    .points {
      display: flex;
      flex-direction: column;
      width: 330px;
      /* border: 1px solid dodgerblue; */
      font-size: 14px;
      .desc {
        display: flex;
        /* border: 1px solid #ff0; */
        p {
          &:first-child {
            width: 100px;
            /* border: 1px solid #f00; */
            margin-right: 30px;
          }
        }
      }
    }
    .purchase {
      .top-price {
        display: flex;
        /* border: 1px solid #f00; */
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
        .quantity {
          display: flex;
          border: 1px solid rgba(0, 0, 0, 0.05);
          /* border: 1px solid #f00; */
          width: 145px;
          height: 34px;
          justify-content: center;
          align-items: center;
          gap: 30px;
          font-size: 20px;
          button {
            width: 34px;
            height: 34px;
            font-size: 16px;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        span {
          font-size: 16px;
        }
      }
      .bottom-price {
        display: flex;
        justify-content: right;
        align-items: baseline;
        gap: 4px;
        margin-top: 42px;
        margin-bottom: 42px;
        span {
          font-size: 18px;
        }
        h4 {
          font-size: 24px;
        }
      }
      .btns {
        /* border: 1px solid #f00; */
        display: flex;
        height: 60px;
        .small-btns {
          cursor: pointer;
          background: #585858;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 26px;
          flex: 1;
          height: 100%;
          transition: all 0.3s;
          &:hover {
            background: #000;
          }
        }
        .big-btns {
          cursor: pointer;
          flex: 4;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
        .leftbtn {
          background: #333;
          transition: all 0.3s;
          &:hover {
            background: #000;
          }
        }
        .rightbtn {
          background: var(--main-green);
          transition: all 0.3s;
          &:hover {
            background: #5ba313;
          }
        }
      }
    }
  }
}

.product-detail-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .tabs {
    position: sticky;
    top: 74px;
    width: 1152px;
    height: 60px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    z-index: 1;
    .tab {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      width: 100%;
      height: 70px;
      label {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        line-height: 4.2;
        border-bottom: 2px solid #d6d6d6;
        color: #919191;
      }
      input[type="radio"] {
        display: none;
        width: 100%;
      }
      input[type="radio"]:checked ~ label {
        line-height: 4.2;
        justify-content: center;
        border-bottom: 3px solid #757575;
        color: #000;
        position: relative;
      }
      input[type="radio"]:checked + .tab-contents {
        display: block;
        /* color: #f00; */
        position: absolute;
        z-index: 1;
      }
    }
  }
  .tabs-contents {
    /* border: 1px solid #f99; */
    .inner-items {
      display: flex;
      justify-content: center;
    }
    .detail-desc {
      .imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        img {
          width: 100%;
        }
      }
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.5);
      .modal-content {
        background-color: #fff;
        margin: 20% auto;
        padding: 40px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;
      }
      .close {
        position: absolute;
        top: 10vw;
        right: 10vw;
        color: #c9c9c9;
        float: right;
        font-size: 28px;
        font-weight: bold;
        i {
          font-size: 50px;
        }
      }
      .close:hover,
      .close:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.product-detail-C {
  .review-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .reviews {
      width: 1152px;
      height: 146px;
      /* border: 1px solid #00ff22; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .review-sum {
        display: flex;
        hr {
          margin: 20px;
          height: 87px;
          border: 1px solid #e7e7e7;
        }
        .sum-left {
          /* border: 1px solid #000; */
          display: flex;
          flex-direction: column;
          line-height: 1.5;
          margin: 10px 10px;
          gap: 10px;
          .sum-top {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            .stars {
              font-size: 22px;
              color: var(--main-green);
            }
            .rate {
              font-size: 22px;
              font-weight: bold;
            }
          }
          .sum-bottom {
            font-size: 16px;
          }
        }
        .sum-right {
          /* border: 1px solid #000; */
          width: 826px;
          margin: 10px 10px;
          .desc {
            width: 806px;
            font-size: 14px;
          }
          span {
            display: flex;
            align-items: center;
            gap: 6px;
            ion-icon {
              margin-top: 6px;
            }
            p {
              font-size: 12px;
              margin-top: 6px;
            }
          }
        }
      }
    }
    .review-imgs {
      margin-top: 30px;
      margin-bottom: 30px;
      ul {
        display: flex;
        gap: 8px;
        li {
          width: 108px;
          height: 108px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .review-title {
      width: 1152px;
      display: flex;
      justify-content: space-between;
      .review-title-left {
        display: flex;
        font-size: 14px;
        gap: 10px;
        hr {
          border: 1px solid #eee;
        }
      }
      .review-title-right {
        font-size: 14px;
        span {
          margin-left: 42px;
        }
      }
    }
  }
  .fillter {
    margin: 40px 0;
    display: flex;
    justify-content: end;
  }
  .review-list {
    width: 1152px;
    ul {
      .review {
        margin-bottom: 80px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 50px;
        /* border: 1px solid #f00; */
        .review-list-top {
          display: flex;
          justify-content: space-between;
          .top-left {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 6px;
            .bar {
              font-size: 10px;
            }
            .stars {
              font-size: 12px;
              color: var(--main-green);
            }
          }
          .top-right {
            display: flex;
            gap: 6px;
            font-size: 14px;
          }
        }
        .review-imgs {
          display: flex;
          gap: 10px;
          margin-top: 28px;
          margin-bottom: 28px;
          div {
            width: 108px;
            height: 108px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .review-text {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          .mark {
            padding: 2px 6px;
            background: var(--main-green);
            color: #fff;
          }
          .text {
            font-size: 14px;
            width: 70%;
          }
        }
      }
    }
  }
  .pagers {
    ul {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 20px;
    }
  }
}

.product-detail-D {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 160px;
  gap: 120px;
  h1 {
    color: #585858;
    font-size: 36px;
  }
  .product-items-all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-items-list {
    margin-top: 28px;
    display: flex;
    gap: 23px;
  }
  .controls {
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    top: 38%;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      border-radius: 50%;

      i {
        color: #ccc;
        font-size: 36px;
        transition: all 0.2s;
        &:hover {
          color: #585858;
          margin-bottom: 6px;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .productitem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
    width: fit-content;
    .productitem_img {
      position: relative;
      width: 240px;
      height: 320px;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 0;
        z-index: 1;
      }
      .productitem_img_hoverbox {
        position: absolute;
        height: 50px;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        transition: all 0.3s;
        background: var(--main-btn-green);
        z-index: 3;
        li > a > i {
          color: var(--white);
          font-size: 24px;
          transform: translateY(0);
          transition: all 0.3s;
          &:hover {
            transform: translateY(-4px);
          }
        }
      }
      &:hover {
        .productitem_img_hoverbox {
          bottom: 0;
        }
      }
    }
    .productitem_text {
      letter-spacing: -0.06px;
      p {
        color: #707070;
        font: 500 13px/1 "Noto Sans";
      }
      h5 {
        font: 700 24px/1 "Noto Sans";
        margin: 14px 0 18px;
        color: var(--main-price-red);
      }
      ul {
        display: flex;
        &:nth-of-type(1) {
          gap: 12px;
          li {
            font: normal 10px/1 "Noto Sans";
            background: var(--line-gray);
            padding: 5px 6px;
            border-radius: 10px;
            margin-bottom: 18px;
          }
        }
        &:nth-of-type(2) {
          display: flex;
          align-items: center;
          gap: 4px;
          font: normal 12px/1.44 "Noto Sans";
        }
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .section-all {
    width: calc(100vw - (100vw - 100%));
  }
  .product-detail-A {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: calc(100vw - (100vw - 100%));

    .A-left {
      justify-content: center;
      align-items: center;
      margin-right: 0;
      .thumbs {
        display: flex;
        align-items: center;
        overflow: hidden;
        /* border: 1px solid #f00; */
        width: calc(100vw - (100vw - 100%));
        height: 100vw;
        img {
          width: 100%;
          height: auto;
        }
      }
      .card-gift {
        display: none;
      }
    }
    .A-right {
      padding: 0 5vw;
      .title {
        h2 {
          margin-top: 3vh;
          font-size: 1em;
        }
      }
      .detail {
        flex-direction: column;
        align-items: start;
        .detail-left {
          font-size: 16px;
          .discount {
            font-size: 14px;
            .default-price {
              font-size: 12px;
            }
          }
        }
        .detail-right {
          .review {
            color: #707070;
          }
        }
      }
      .desc {
        .reviewdesc {
          font-size: 12px;
        }
      }
      .benefits {
        width: 100%;
        flex-direction: column;
        gap: 10px 0;
        .benefit {
          font-size: 12px;
        }
        .benefits-right {
          .box {
            .benefit-desc {
              font-size: 12px;
              width: 100%;
            }
            .date {
              font-size: 10px;
            }
            .sample {
              font-size: 10px;
            }
          }
        }
      }
      hr {
        background: #eee;
        height: 1px;
        border: 0;
        margin-bottom: 3vh;
      }
      .points {
        width: 100%;
        font-size: 12px;
        margin-bottom: 4vh;
      }
      .purchase {
        .top-price {
          display: none;
        }
        .bottom-price {
          display: none;
        }
        .btns {
          height: 9vh;
          width: calc(100vw - (100vw - 100%));
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 999;
          .small-btns {
            flex: 1;
          }
          .big-btns {
            flex: 4;
          }
        }
      }
    }
  }

  /* tabs~ */
  .product-detail-B {
    width: calc(100vw - (100vw - 100%));
    .tabs {
      width: 100%;
      margin-bottom: 0;
      top: 48px;
      background: #fff;
      .tab {
        height: 60px;
        label {
          line-height: 3.8;
        }
        input[type="radio"]:checked ~ label {
          line-height: 3.7;
        }
      }
    }
    .tabs-contents {
      .detail-desc {
        .imgs {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  /* review~ */
  .product-detail-C {
    width: calc(100vw - (100vw - 100%));
    .review-main {
      .reviews {
        width: calc(100vw - (100vw - 100%));
        height: 100%;
        padding: 2vh 5vw 2vh 5vw;
        .review-sum {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: start;
          gap: 14px;
          hr {
            display: none;
          }
          .sum-left {
            margin: 0;
            .sum-top {
              display: flex;
              justify-content: left;
              .stars {
                display: flex;
                font-size: 16px;
              }
              .rate {
                font-size: 16px;
              }
            }
            .sum-bottom {
              font-size: 18px;
              font-weight: bold;
            }
          }
          .sum-right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            margin: 0;
            .desc {
              width: 100%;
              font-size: 12px;
            }
            span {
              background: #d4d4d4;
              padding: 10px;
              padding-bottom: 15px;
              display: flex;
              align-items: center;
              gap: 6px;
              ion-icon {
                margin-top: 6px;
              }
              p {
                font-size: 12px;
                margin-top: 6px;
              }
            }
          }
        }
      }
    }
    .review-list {
      width: calc(100vw - (100vw - 100%));
      ul {
        .review {
          padding: 2vh 3vw 2vh 5vw;
          .review-list-top {
            flex-direction: column;
            gap: 10px;
            .top-left {
              font-size: 12px;
              gap: 6px;
              .bar {
                font-size: 10px;
              }
              .stars {
                font-size: 12px;
              }
            }
            .top-right {
              font-size: 12px;
            }
          }
          .review-imgs {
            display: flex;
            gap: 10px;
            margin-top: 28px;
            margin-bottom: 28px;
            div {
              width: 20vw;
              height: 20vw;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .review-text {
            display: flex;
            justify-content: left;
            align-items: start;
            padding: 10px;
            gap: 10px;
            .mark {
              padding: 4px 6px 4px 6px;
              background: var(--main-green);
              color: #fff;
            }
            .text {
              font-size: 14px;
              width: 60%;
            }
          }
        }
      }
    }
  }

  /* best products _ SCROLL*/
  .product-detail-D {
    display: none;
  }
}
