/* footer */
.footer {
  color: #a2a2a2;
  .footer_list {
    width: 100%;
    height: 100px;
    border-top: 1px solid var(--line-gray);
    border-bottom: 1px solid var(--line-gray);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    & ul {
      display: flex;
    }
    & ul.footer_list_stlye {
      gap: 38px;
    }
    .footer_list_top {
      width: 1300px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .footer_list_stlye {
        display: flex;
        gap: 10px;
        span {
          display: flex;
          gap: 10px;
        }
        span:nth-child(1) li:nth-child(2) {
          color: var(--main-black);
          font-weight: 700;
        }
      }
      .footer_list_top_icon ul {
        gap: 18px;
        li a i {
          font-size: 20px;
        }
      }
    }
    .footer_list_btm {
      width: 1300px;
      margin: 0 auto;
      .footer_list_stlye {
        display: flex;
        gap: 10px;
        span {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  .footer_main {
    width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    .footer_main_info {
      font: 400 12px/1.5 "Noto Sans";
      letter-spacing: -0.6px;
      & > div:nth-child(1) {
        .logo {
          width: 160px;
          height: 26px;
          margin-bottom: 16px;
        }
        div {
          a {
            margin-left: 10px;
            text-decoration: underline;
          }
        }
      }
      & > div:nth-child(2) {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        div:nth-child(1) {
          b {
            color: #676767;
            font-weight: 700;
          }
          a {
            margin-left: 10px;
            text-decoration: underline;
          }
        }
        div:last-child {
          letter-spacing: -0.25px;
        }
      }
    }
    .footer_main_csbox {
      background: #f5f5f5;
      padding: 38px 34px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .footer_csbox_num {
        display: flex;
        gap: 20px;
        & > div {
          display: flex;
          flex-direction: column;
          gap: 4px;
          & > span:nth-child(1) {
            color: #848484;
            font: bold 12px/1 "Noto Sans";
          }
          & > span:nth-child(2) {
            color: #676767;
            font: bold 20px/1 "Noto Sans";
          }
        }
      }
      .footer_main_csbox_desc {
        color: #b0b0b0;
        font: 500 12px/1.4 "Noto Sans";
        span {
          display: block;
          margin-bottom: 4px;
        }
      }
      .footer_main_csbox_btn {
        display: flex;
        gap: 10px;
        a {
          background: #bbb;
          color: var(--white);
          font: 500 14px/1.4 "Noto Sans";
          padding: 8px 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  /* Footer */
  .footer {
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid #a2a2a2;
    margin-bottom: 140px;
    .footer_list {
      width: 100%;
      height: fit-content;
      border-top: none;
      border-bottom: none;
      gap: 10px;
      align-items: center;
      /* justify-content: center; */
      font-size: 10px;
      text-align: center;
      .footer_list_top {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        .footer_list_stlye {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          span {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex ul {
              gap: 3px;
            }
          }
        }
      }
      .footer_list_btm {
        width: 100%;
        .footer_list_stlye {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          span {
            display: flex;
            justify-content: center;
            gap: 10px;
            ul {
              width: 100%;
              justify-content: center;
              gap: 5px;
            }
          }
        }
      }
    }
    .footer_main {
      width: 100%;
      text-align: justify;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0 0;
      gap: 20px;
      .footer_main_info {
        font: 400 10px/1.5 "Noto Sans";
        & > div:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 20px;
          gap: 10px;
          .logo {
            align-self: center;
          }
          & > div > a {
            display: block;
            margin-left: 0;
          }
        }
      }
      .footer_main_csbox {
        width: 100%;
        align-items: center;
        padding: 30px 10px;
        .footer_main_csbox_desc {
          font: 400 10px/1.4 "Noto Sans";
        }
      }
    }
  }
}
